<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CrystalSync.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="CrystalSync.Setting.ColorSelectSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="CrystalSync.Setting.ColorSelectSettingsy" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="CrystalSync.Setting.MysqlConnectionServerSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="CrystalSync.Setting.MysqlConnectionLocalSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <CrystalSync.Properties.Settings>
            <setting name="firstStart" serializeAs="String">
                <value>0</value>
            </setting>
        </CrystalSync.Properties.Settings>
        <CrystalSync.Setting.ColorSelectSettings>
            <setting name="maxNumber" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="color" serializeAs="String">
                <value>#FFFF0000</value>
            </setting>
            <setting name="fontSize" serializeAs="String">
                <value>13</value>
            </setting>
        </CrystalSync.Setting.ColorSelectSettings>
        <CrystalSync.Setting.ColorSelectSettingsy>
            <setting name="maxNumber" serializeAs="String">
                <value>192.168.1.20</value>
            </setting>
            <setting name="color" serializeAs="String">
                <value>root</value>
            </setting>
        </CrystalSync.Setting.ColorSelectSettingsy>
        <CrystalSync.Setting.MysqlConnectionServerSettings>
            <setting name="dbServer" serializeAs="String">
                <value>Server</value>
            </setting>
            <setting name="dbUserName" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="dbPassword" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="dbPort" serializeAs="String">
                <value>3306</value>
            </setting>
            <setting name="dbName" serializeAs="String">
                <value>Test</value>
            </setting>
        </CrystalSync.Setting.MysqlConnectionServerSettings>
        <CrystalSync.Setting.MysqlConnectionLocalSettings>
            <setting name="dbServer" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="dbUserName" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="dbPassword" serializeAs="String">
                <value>wasa420807</value>
            </setting>
            <setting name="dbPort" serializeAs="String">
                <value>3309</value>
            </setting>
            <setting name="dbName" serializeAs="String">
                <value>db_config</value>
            </setting>
            <setting name="dbTitle" serializeAs="String">
                <value>Test</value>
            </setting>
        </CrystalSync.Setting.MysqlConnectionLocalSettings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>